*{
    font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
    background-color: rgb(71, 71, 71);
}

form{
   align-items: center;
   padding-top: 200px;
   text-align: center;
  
   
   
 
}

::placeholder{
    color: aliceblue;
   
    
}

input{
    margin: 10px;
    border: none;
    outline: none;
       border-bottom: 1px solid aliceblue;
    width: 20%;

   height: 40px;
}

.message{
    
    height: 150px;
    
}

.submit{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: rgb(0, 132, 255);
    border: none;
    width: 90px;
    margin-top: 30px;
}

.cancel{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    color: black;
    background-color: aliceblue;
    width: 90px;
}

input:focus{
    border-bottom: 2px solid yellow;
}

.submit:hover{
    background-color: rgba(0, 132, 255, 0.671);
}

.cancel:hover{
    background-color: rgb(228, 228, 228);    
}