table {
    margin: auto;

    text-align: center;
    padding: 50px;




}

td {
    border-radius: 2px;
    width: 150px;
    height: 150px;
}


.box1 {
    background-color: rgba(235, 236, 208, 255);
}

.box2 {
    background-color: #779556;

}

.chess {
    font-size: 100px;

}